{% extends "layout.html.twig" %}

{% block content %}
<p>Sign here</p>
<div id="canvasDiv"></div>

<button id="save-signature">Save your signature</button>

<style>
canvas { border: 1px solid black; }
</style>

{% endblock %}
